<%= form_for @quiz do |f| %>
	<% if @quiz.errors.any? %>
		<div class = "error_messages">
			<h2><%= pluralize(@quiz.errors.count, "error") %> impedem esse quiz de ser salvo:</h2>
			<ul>
				<% @quiz.errors.full_messages.each do |msg| %>
				<li> <%=msg%> </li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
		<%= f.label :título %>
		<%= f.text_field :titulo %>

		<%= f.label :descrição %>
		<%= f.text_area :descricao %>

		<%= f.label :"Modo de jogo" %>
		
		<%= f.select :modojogo, options_for_select([["Aleatório", 1], ["Em ordem", 2]], @quiz.modojogo) %>

		<%= f.label :"Questões por jogo" %>
		<%= f.text_field :maxquestoes %>

	
	<%= f.fields_for :perguntas do |builder| %>
	<% render 'pergunta_fields', f:builder%>
	<% end %>
	<br>
	<%= link_to_add_fields "Adicionar pergunta", f, :perguntas %>
	
	<div class="actions">
		<%= f.submit %>
	</div>
	
<% end %>
		