<fieldset>
  <%= f.label :conteudo, "Resposta" %>
  <%= f.check_box :correta %>
  <%= f.text_field :conteudo %>
  <%= f.hidden_field :_destroy %> 
  <%= link_to '<button class="btn btn-small btn-danger" type="button"><i class="icon-remove"></i> Remover</button>'.html_safe, '#', class: "remove_fields" %>
</fieldset>