<h1>Quizzes</h1>

<% @quizzes.each do |quiz| %>
  <div class="article">
	  <!-- <h2><%= link_to quiz.titulo, action: 'show', id: quiz %></h2>  -->
	  <h2><%= link_to quiz.titulo, quiz %></h2>
	  
    <%= pluralize(quiz.perguntas.size, "pergunta") %>
  </div>
<% end %>

<!-- <p><%= link_to 'Novo Quiz', action: 'new' %></p> -->
<p><%= link_to 'Novo Quiz', new_quiz_path %></p>
