<h1>Quizzes</h1>

<table class="table table-hover">
	<thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Descrição</th>
	  <th>Criador</th>
	  <th>#Perguntas</th>
    </tr>
  </thead>
  <tbody>
	<% @quizzes.each do |quiz| %>
		<tr>
			<td> <%= quiz.id %> </td>
			<td> <%= link_to quiz.titulo, quiz %> </td>
			<td> <%= quiz.descricao %> </td>
			<td> <%= link_to quiz.user.username, quiz.user %> </td>
			<td><%= quiz.perguntas.size %> </td>
		</tr>
	<% end %>
  </tbody>
</table>

<%= link_to new_quiz_path do %>
	<button class="btn btn-large btn-block btn-primary" type="button">Criar quiz</button>
<% end %>



