<h1>Listagem de Quizzes</h1>
<table> <tr>
         <th>Titulo</th>
</tr>
<% @quizzes.each do |quiz| %>
     <tr>
       <td><%= quiz.titulo %></td>

	       <td>
          <%= link_to 'Mostrar', action: 'show', id: quiz %>
</td> <td>
         <%= link_to 'Editar', action: 'edit', id: quiz %>
</td> <td>
         <%= link_to 'Deletar', action: 'destroy', id: quiz %>
</td> </tr>
<% end %>
   </table>
   <br/>
   <%= link_to 'Novo', action: 'new' %>