<h1>Adicionando Quiz</h1>
   <% if @quiz.errors.any? %>
<ul>
     <% @quiz.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
<% end %>
</ul>
<% end %>
   <%= form_for :quiz, url: {action: 'create'} do |f| %>
     titulo: <%= f.text_field :titulo %><br/>
     <%= submit_tag 'Criar' %>
   <% end %>
   <%= link_to 'Voltar', {action: 'index' } %>