<h1><%= @quiz.titulo %></h1>
   <p>
	   <%= @quiz.descricao%><br>
     <p>	<b>Criador: </b>
     	<%= link_to @quiz.user.username, @quiz.user %></h2>
	 	<p>
		 <b>Modo de jogo:</b>
		 <%= @quiz.modojogo%><p>
		 <b>Máximo de perguntas por jogo:</b>
		 <%= @quiz.maxquestoes%>
 		<table class="table table-hover">
         	<thead>
             <tr>
               <th>#</th>
               <th>Pergunta</th>
               <th>#Respostas</th>
             </tr>
           </thead>
           <tbody>
   			<% @quiz.perguntas.each do |pergunta|%>
			<% resps = ""%>
			<% virg = ""%>
			<% pergunta.respostas.each do |resposta|%>
			<% resps += virg +resposta.conteudo%>
			<% virg = ", "%>
			<% end %>
 				<tr class="tr-popover"
   		          data-content= "<%= resps %>" >
 					<td> <%= pergunta.id %> </td>
 					<td><%=  pergunta.conteudo %> </td>
   					<td> <%= pergunta.respostas.count  %></td>
 				<tr>
   			<% end %>
           </tbody>
         </table>
		 

</p>
<%= link_to ( { action: 'edit', id: @quiz }) do %>
	<button class="btn btn-large btn-block btn-primary" type="button">Editar</button>
<% end %>

   
