<h2>Editar</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <p><%= f.label :username %>
  <%= f.text_field :username %></p>
  
  <div><%= f.label :'E-mail' %>
  <%= f.email_field :email %></div>
  
  <div><%= f.label :Nome %>
	  <%= f.text_field :firstname %></div>
  
  <div><%= f.label :Sobrenome %>
	  <%= f.text_field :lastname %></div>
  <div><%= f.label :Senha %> <i>(Deixe em branco se não deseja mudar)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :'Confirmar senha'%>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :Senha_atual %> <i>(Precisamos de sua senha atual para confirmar alterações)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit :class => "btn btn-primary", :value => "Atualizar" %></div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Infeliz? <%= link_to "Cancele minha conta", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

