<h2>Novo usuário</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <p><%= f.label :username %>
  <%= f.text_field :username %></p>
  
  <div><%= f.label :'E-mail' %>
  <%= f.email_field :email %></div>

  <div><%= f.label :Nome %>
	  <%= f.text_field :firstname %></div>
  
  <div><%= f.label :Sobrenome %>
	  <%= f.text_field :lastname %></div>

  <div><%= f.label :Senha %>
  <%= f.password_field :password %></div>

  <div><%= f.label :'Confirmar senha' %>
  <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit :class => "btn btn-primary", :value => "Cadastrar" %></div>
<% end %>

<%= render "devise/shared/links" %>
