<h1>Jogos</h1>


<p><b>Histórico de jogos: </b>
<table class="table table-hover">
	<thead>
    <tr>
      <th>#</th>
      <th>Dia/hora</th>
      <th>Quiz</th>
	  <th>Jogador</th>
	  <th>Pontos</th>
    </tr>
  </thead>
  <tbody>
	<% @jogos.each do |jogo|%>
		<tr>
			<td> <%= jogo.id %> </td>
			<% diahora = jogo.dia + " " + jogo.hora %>
			<td><%= link_to diahora, jogo%> </td>
			
			<% quiz = Resposta.find(jogo.resultados[0].resposta_id).pergunta.quiz %>
			<td> <%=  link_to quiz.titulo, quiz  %> </td>
			<td> <%= link_to jogo.user.username, jogo.user%></td>
			<td> <%= jogo.pontos %> </td>
		</tr>
	<% end %>
  </tbody>
</table>

