<h1>Exibindo Jogo</h1>
   <p>
     <b>Dia: </b>
     <%= @jogo.dia %>
   </p>
   <p>
     <b>Hora: </b>
     <%= @jogo.hora %>
   </p>
   <p>
     <b>Pontos: </b>
     <%= @jogo.pontos %>
   </p>
   <p>
     <b>Jogador: </b>
     <%= link_to @jogo.user.username, @jogo.user %>
   </p>
   
   <%= form_for @jogo do |f| %>
   <%= f.fields_for :resultados do |builder| %>
     <%= render 'resultado_fields', f: builder %>
   <% end %>

   <% end %>