<%= form_for @usuario do |f| %>
<% if @usuario.errors.any? %>
		<div class = "error_messages">
			<h2><%= pluralize(@usuario.errors.count, "error") %> impedem esse usuario de ser salvo:</h2>
			<ul>
				<% @usuario.errors.full_messages.each do |msg| %>
				<li> <%=msg%> </li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :apelido %><br />
		<% if @usuario.apelido.blank? then %>
			<%= f.text_field :apelido, :required => true %>
		<% else %>
			<%= f.text_field :apelido, :readonly => true, :required => true %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :nome %><br />
		<%= f.text_field :nome %>
	</div>

	<div class="field">
		<%= f.label :sobrenome %><br />
		<%= f.text_field  :sobrenome %>
	</div>
	
	<div class="field">
		<%= f.label :senha %><br />
		<%= f.password_field  :senha, :required => true  %>
	</div>

	
	<div class="actions">
		<%= f.submit :class => "btn btn-large btn-block btn-primary", :value => "Salvar" %>
	</div>


<% end %>	