 
   <h1><%= @usuario.apelido %></h1>
      <p>
        <b>Nome: </b>
        <%= @usuario.nome + " " + @usuario.sobrenome%>
		<p>
        <b>Pontos de criador: </b>
        <%= @usuario.pontos_criador %>
		<p>
        <b>Pontos de jogador: </b>
        <%= @usuario.pontos_jogador %>
		<p>
		<%= link_to  ({ action: 'edit', id: @usuario})  do %>
		   <button class="btn btn-large btn-block btn-primary" type="button">Editar dados</button>
		 <% end %>
		 <br>
		<b>Quizzes criados: </b>
		<table class="table table-hover">
        	<thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
  			<% @usuario.quizzes.each do |quiz|%>
				<tr>
					<td> <%= quiz.id %> </td>
					<td><%= link_to quiz.titulo, quiz%> </td>
  					<td> <%= quiz.descricao  %></td>
				<tr>
  			<% end %>
          </tbody>
        </table>

		<br>
	    <p><b>Histórico de jogos: </b>
		<table class="table table-hover">
        	<thead>
            <tr>
              <th>#</th>
              <th>Dia/hora</th>
              <th>Quiz</th>
            </tr>
          </thead>
          <tbody>
	  		<% @usuario.jogos.each do |jogo|%>
				<tr>
					<td> <%= jogo.id %> </td>
	  				<% diahora = jogo.dia + " " + jogo.hora %>
	  				<td><%= link_to diahora, jogo%> </td>
				</tr>
	  		<% end %>
          </tbody>
        </table>

		<br><br>
   </p>
